.Container{
  display: flex;
}

.Control-panel-options{
  width: 20%;
  height: 100vh;
  color: white;
  background-color: var(--Secondary_blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo{
  padding: 80px 0;
}

.Options{
  width: 100%;
  margin-top: 20px;
}

.Category-buttons{
  padding: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.Admin-buttons{
  background-color: var(--Primary_blue);
  border: 2px solid var(--Secondary_blue);
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 50px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.Category-buttons:hover{
  background-color: var(--Primary_blue);
}

.Control-panel-info{
  width: 80%;
  height: 100vh;
}


.Nav-bar{
  background-color: var(--Primary_blue);
  color: var(--Secondary_blue);
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  border: 3px solid black;
  box-sizing: content-box;
}

.List-block{
  margin-top: 30px;
}

.List-name-and-controls{
  height: 6vh;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List-disabled{
  display: none;
}

.List-title{
  margin-top: 0;
}

.Table-list{
  height: 70vh;
  overflow-y: scroll;
  width: 90%;
  margin: 15px 60px;
  display: block;
}

.Admin, .Logout{
  color: white;
}

#Logout-button{
  cursor: pointer;
}

#Logo{
  width: 250px;
  height: 100px;
  object-fit: cover;
}

.Button-enabled{
  background-color: var(--Primary_blue);
}

.The-actual-list{
  border-collapse: collapse;
  width: 100%;
}

th,td{
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even){
  background-color: #dddddd;
}

.Assign-block{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.Admin-in-block-buttons{
  background-color: var(--Primary_blue);
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}