a {
  text-decoration: none;
  font-weight: bold;
}

body{
  background-color: #fcfcfc;
}

.Nav-bar{
  background-color: white;
}

.Main-body{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
}

.Control-panel{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0;
  margin-left: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.Account-information-block{
  width: 70%;
  background-color: white;
  padding: 20px;
  margin-right: 40px;
  border-radius: 10px;
}

.Info{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.Invoice{
  width: 100%;
}

.Invoice th{
  text-align: left;
  border-bottom: 2px solid black;
}

.Invoice th, td{
  padding: 20px;
}

.Account-info{
  width: 43%;
}

.Welcome{
  margin-bottom: 30px;
}


.Info-sub-block > div{
  margin-bottom: 10px;
}

.Info-title{
  margin-bottom: 30px;
}

.List-disabled{
  display: none;
}

.Button-enabled{
  background-color: var(--Primary_blue);
  color: white;
}

.Profile-category-buttons{
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.Profile-category-buttons:hover{
  background-color: var(--Primary_blue);
  color: white;
}

.Input-for-user  {
  border: 0;
  border-bottom: 2px solid black;
  width: 30%;
  height: 50px;
  margin-top: 50px;
}

.Profile-in-block-buttons{
  background-color: var(--Primary_blue);
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.Invoice-button-wrapper{
  display: flex;
  justify-content: center;
}
